.hold{width:100%;max-width:1000px;margin:0 auto}.title{margin:15px 0;font-size:32px;font-family:sans-serif, arial;color:#666;text-align:center}body{margin:0;background-color:red}.hold{padding:15px;background-color:#fff}

/*# sourceMappingURL=main.css.map */