/* ==========================================================================
   Config
   ========================================================================== */

/*
   Colors
   ========================================================================== */
$color--gray: #666;
$color--light-gray: pink;

/*
   Grid
   ========================================================================== */
// $grid-width: 1280px;
$grid-columns:              12;
$grid-gutter-width:         30px;
$grid-float-breakpoint:     1280px;
