/* ==========================================================================
Layout
========================================================================== */

/* ==========================================================================
Mixin
========================================================================== */

@mixin sem-margem() {
	margin: 0;
	padding: 0;
}

@mixin center() {
	text-align: center;
}

@mixin spacing($margin, $padding) {
	margin: $margin;
	padding: $padding;
}

@mixin border($width, $style, $color) {
	border-style: $style;
	border-width: $width;
	border-color: $color;
}

@mixin title($color, $font-family, $font-weight, $font-size, $line-height, $text-align, $text-transform, $letter-spacing) {
	font-family: $font-family;
	font-weight: $font-weight;
	color: $color;
	font-size: $font-size;
	line-height: $line-height;
	text-align: $text-align;
	text-transform: $text-transform;
	letter-spacing: $letter-spacing;
}

@mixin text($color, $font-family, $font-weight, $font-size, $line-height, $text-align, $text-transform, $letter-spacing) {
	@include title($color, $font-family, $font-weight, $font-size, $line-height, $text-align, $text-transform, $letter-spacing);
}

@mixin box($largura, $altura, $float) {
	width: $largura;
	height: $altura;
	float: $float;
}

@mixin button($background-color, $border, $width, $height) {
	background-color: $background-color;
	border: $border;
	height: $height;
	width: $width;
}

/* ==========================================================================
Sections
========================================================================== */

/* ==========================================================================
Reset
========================================================================== */

/*div[class^="col"]{
	@include sem-margem();
}

div[class^="container"]{
	@include sem-margem();
	width: 1280px;
	margin: 0 auto;
}*/

a{
	&:hover{
	text-decoration: none;
	}
}

/* ==========================================================================
Box
========================================================================== */

.sec1 .box{
	@include spacing(0 0 0 05.46%, 28.59% 0 0 0);
	@include box(40.85%, auto, none);
}

.sec2 .box{
	@include spacing(15.39% 0 0 03.20%, 0 0 0 0);
	@include box(35.46%, auto, right);
}

.sec3 .box-one{
	@include spacing(14.01% 0 0 7.12%, 0 0 0 0);
	@include box(22.73%, auto, left);
}

.sec3 .box-two{
	@include spacing(12.14% 0 0 6.09%, 3.29%);
	@include box(27.65%, auto, left);
	@include box-shadow(#000 6px 6px 10px);
	@include border-radius(10px);
	background-color: #fff;
}

.sec4 .box{
	@include spacing(05.15% 0 0 04.42%, 0 0 0 0);
	@include box(37.50%, auto, right);
}

/* ==========================================================================
Formatation
========================================================================== */

/* Header */

.menu{
	    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.icon-bar {
        display: block;
    width: 22px;
    height: 3px;
    border-radius: 1px;
    background-color: #fff;
    padding: 1px;
    margin: 5px;
}

.navbar-inverse {
    background-color: #c00f07!important;
    border-color: #090909;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-toggle {
    float: left;
}

.container-fluid.top1{
	background-color: #f3f3f3;
	    height: 44px;
}

.top1 ul{
	    margin: 7px;
}

.top2 ul{
	    margin: 4px;
}

.container-fluid.top2{
	background-color: #c00f07;
	border-bottom: 3px solid #7e0f08;
	color: #fff;
	height: 68px;
}

.navbar ul{
	list-style: none;
}

.navbar ul li{
	float: left;
	margin: 5px;
}

.navbar ul li a{
	font-weight: bold;
    font-size: 1.8vh;
}

.top-globo{
	color: #0075eb;
}

.top-noticias{
	color: #aa0000;
}

.top-esportes{
	color: #3b8412;
}

.top-gshow{
	color: #363636;
}

.top-entretenimento{
	color: #ff9a00;
}

.top-videos{
	color: #0056f3;
}

.top-central{
	color: #9b999b;
}

.top-email{
	color: #9b999b;
}

.menu-home{
	color: #fff!important;
    padding: 15px 0px 15px 0px!important;
}

.home {
    text-align: center;
    padding: 13px;
}

.home a {
    font-size: 3vh;
    color: #fff;
    font-weight: bold;
}

.form-group {
    margin: 13px;
	border: none;
}

.busca{
    background-color: #900b04;
	color: #fff;
    /*border: 1px solid #000;*/
	border: 0;
	&:-webkit-input-placeholder {
   color: #fff;
}

&:-moz-placeholder {
   color: #fff;
}

&:-moz-placeholder {
   color: #fff;
}

&:-ms-input-placeholder {
   color: #fff;
}
}

/* Carousel */

#myCarousel{
	    margin-top: 98px;
}

span.lutas {
    color: #ffc617;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    margin: 0 auto;
}

.carousel-caption h1, .carousel-caption h2 {
    font-weight: bold;
}

.carousel-inner>.item {
    background: #000;
}

.assine-ja{
	    background-color: #d32127;
    color: #fff;
    width: 340px;
    height: 75px;
    border: 0;
    border-radius: 0;
    font-size: 3vh;
    font-weight: bold;
    margin-top: 49px;
}

.assine-ja-play{
	 @extend .assine-ja;
	margin-bottom: 50px;
}

/* luta */

h2.cobertura {
        text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 4vh;
    margin-top: 51px;
}

p.cobertura-texto {
    text-align: center;
    font-size: 2vh;
}

.ao-vivo{
	font-weight: bold;
}

h2.eventos {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 4vh;
    margin-top: 51px;
}

p.semana-luta {
    font-size: 2vh;
}

span.data-luta {
    font-weight: bold;
}

p.peso {
    font-size: 1.1vh;
	font-weight: bold;
}

.eventos-info {
    text-align: center;
}

h3.lutadores {
    font-size: 1.5vh;
    font-weight: bold;
    margin-top: 0px;
}

span.vs {
    color: red;
	font-weight: bold;
}

p.combate-play {
    font-size: 2.2vh;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}

span.conheca {
    color: red;
}

/* Footer */

.container-fluid.operadora {
    background-color: #f3f3f3;
    height: 201px;
	margin-top: 119px;
}

.container-fluid.pre-footer {
    background-color: #494949;
    height: 150px;
	    padding: 50px;
}

.container-fluid.footer-1 {
    background-color: #404040;
    height: 73px;
}

.operadora ul, .pre-footer ul, .footer-1 ul{
	list-style: none;
}

.operadora ul li, .pre-footer ul li, .footer-1 ul li{
	float: left;
	margin: 5px;
	color: #fff;
}

.pre-footer ul li a, .footer-1 ul li a{
	font-weight: bold;
    font-size: 1.8vh;
	color: #fff;
}

.lista-operadoras{
	    width: 65%;
    margin: 0 auto;
}

/* Media queries */

@media (max-width: $screen-xs-max) {
	h2.play{
		text-align: center;
	}
	p.combate-play{
		text-align: center;
		margin-top: 40px;
	}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.carousel-caption {
    left: 11%;
    right: 0%;
	text-align: left;
    padding-bottom: 30px;
}
}
@media (min-width: $screen-lg-min) {
	.carousel-caption {
         left: 0;
    right: 0;
    text-align: left;
    position: relative;
    padding-bottom: 98px;
    margin-top: -44%;
    margin-left: 4%;
}
}
